{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departures.get(departure) }}</h1>
    <p class="mb-4">Найдено {{ tours | length }} туров, от {{ prices | min }} до {{ prices | max }} и от {{ nights | min }} ночей до {{ nights | max }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
    {% for tour_id, tour in tours %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
            <img class="card-img-top embed-responsive-item" src={{ tour.picture }} class="card-img-top img-fluid" alt="">
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.country }}: <a href="/tour/{{ tour_id }}/">{{ tour.title }}</a></h2>
            <p class="card-text">{{ tour.description | truncate(255, True) }}</p>
            <a href="/tour/{{ tour_id }}/" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
  </main>
{% endblock %}